
<div class=" text-white jumbotron text-center">
    <h1 class="display-4">FarmToJuice Products </h1>
    <p class="lead font-weight-bold">the only natural fruit juice production company in Bayelsa State.</p>
    <hr class="my-4">
    <!-- <a class="btn btn-danger btn-lg" [routerLink]="['/']"  role="button">Home</a> -->
  </div>


<!-- =================================== -->


 <br> <br> <br>
<!-- =================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="../../../assets/products/home_orange.jpg">
                <div class="box-content">
                    <a class="btn btn-danger text-white" [routerLink]="['/orange']">more</a>
                </div>
                <ul class="icon">
                    <p>Orange Juice</p>
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="box">
               <img src="../../../assets/products/home_carrot.jpg">
                <div class="box-content">
                    <a class="btn btn-danger text-white" [routerLink]="['/carrot']">more</a>

                </div>
                <ul class="icon">
                   <p>Carrot Juice</p>
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="box">
               <img src="../../../assets/products/home_pineaple.jpg">
                <div class="box-content">
                    <a class="btn btn-danger text-white" [routerLink]="['/pineapple']">more</a>

                </div>
                <ul class="icon">
                  <p>Pineapple Juice</p>
                </ul>
            </div>
        </div>
        <br>


        <div class="col-md-4 col-sm-6">
            <div class="box">
               <img src="../../../assets/products/home_tigernut.jpg">
                <div class="box-content">
                    <a class="btn btn-danger text-white" [routerLink]="['/tigernut']">more</a>

                </div>
                <ul class="icon">
                <p>Tigernut Juice</p>
                </ul>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="box">
               <img src="../../../assets/products/home_watermelon.jpg">
                <div class="box-content">
                    <a class="btn btn-danger text-white" [routerLink]="['/watermelon']">more</a>

                </div>
                <ul class="icon">
                   <p>watermelon juice</p>
                </ul>
            </div>
        </div>

    </div>
</div>


<!-- testimonies -->
<!-- <app-testimonies></app-testimonies> -->
