.jumbotron{
  background-image: url("../../../assets/header_leaf.jpg" );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 40px;

  background-position: center;
 }
h1, h2, li{
  font-weight: bold;

}
p{
  font-weight: bold;
}
