<!-- Jumbotron -->

<div class=" text-white jumbotron text-center">
    <h1 class="display-4">Contact us</h1>
    <p class="lead" >We are the only natural fruit juice production company
        in Bayelsa State duly registered with NAFDAC.
         Our barcodes are registered with GS1 Nigeria.</p>
    <hr class="my-4">


    <!-- <a class="btn btn-danger btn-lg" [routerLink]="['/']"  role="button">Home</a> -->
  </div>



  <section>
      <div class="padding80 bgcolor4" id="about">
      <div class= "container">
          <div class= "row">
          <div class="col-md-6">
               <div class="textbox-component">
                    <img src="../../../assets/about/factory.png" style=" max-height: 350px;" alt=" " class="img-responsive pull-right" >
                  </div>
              </div>
          <div class="col-md-6">
                <div class="divider50"></div>
                   <div class="textbox-component">
                        <h2> FarmToJuice & Foods Nigeria Limited </h2>
                        <ul>

            <li>Head Office: 69A INEC Road, Yenagoa, Bayelsa State Nigeria.   </li>
            <li> Email: farmtojuiceng@gmail.com</li>
            <li> Juice lines: +2349055397777, +2349085397777 </li>
            <p>You can also get our products in any of our outlet in nigeria</p>
            <li> <a [routerLink]="['/outlets']" class="btn btn-success" > View outlets</a> </li>
            <hr>
          </ul>



                    </div>
                    </div>
      </div>
  </div>
  </div>
  </section>



