


    <div class=" text-white jumbotron text-center">
        <h1 class="display-4">About us</h1>
        <p class="lead">the only natural fruit juice production company in Bayelsa State..</p>
        <hr class="my-4">
        <!-- <a class="btn btn-danger btn-lg" [routerLink]="['/']"  role="button">Home</a> -->
      </div>

  <!-- ---------------------------- -->
<br> <br> <br>
  <!-- ----------------------------- -->


  <!-- contents -->
  <section>
      <div class="padding80 bgcolor4" id="about">
      <div class= "container">
          <div class= "row">
          <div class="col-md-6">
               <div class="textbox-component">
                    <img src="../../../assets/about/factory.png" style=" max-height: 350px;" alt=" " class="img-responsive pull-right" >
                  </div>
              </div>
          <div class="col-md-6">
                <div class="divider50"></div>
                   <div class="textbox-component">
                        <h2>Factory Situated .</h2>
                        <ul>
            <li>FarmToJuice & Foods Nigeria Limited is an indigenous company that produces 100% natural fresh fruits and vegetable juices .</li>
            <li>factory situated at No. 69A INEC Road, Yenagoa, Bayelsa State Nigeria.   </li>
            <li>We use good quality produce that are sourced from local farms in Nigeria. </li>
            <hr>
          </ul>

                    </div>
                    </div>
      </div>
  </div>
  </div>
  </section>

  <section>
      <div class="padding80 bgcolor2" id="about">
      <div class= "container">
      <div class= "row">
  <div class="col-md-6">
        <div class="divider50"></div>
           <div class="textbox-component">
                <h2>Natural Product</h2>
                  <p>Within the short period of our existence we have built a brand as the only manufacturer of 100%
                    natural fruit juices without any artificial or chemical base in the Niger Delta Region.</p>
              <hr>
            </div>

            </div>
  <div class="col-md-6">
       <div class="textbox-component">
            <img src="../../../assets/about/natural.png" style=" max-height: 350px;" alt=" " class="img-responsive">
          </div>
      </div>
      </div>
  </div>
  </div>
  </section>

  <section>
  <div class="padding80 bgcolor1" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
        <div class="divider10"></div>
            <h3>Our Products </h3>
            <hr>

                <p>Our products Varietire- Pineapple,
                   Orange, Watermelon, Tiger-Nuts and Carrot Juices, packed in units of 450ml bottles.</p>
                  <p>It’s content is 100% RAW, <strong>FRESH</strong>, <strong>NATURAL</strong> fruits and vegetable juices,
                     extracted with state of the art <strong>COLDPRESSED</strong> juicing machines that extracts
                      the purest and finest quality of natural juices without destroying the
                      phyto-nutrients/living enzymes, giving the juice the best result.
                     The excellence and elixir of these juices subsists in its freshness.</p>
            <hr>
          </div>


          <div class="col-md-6">
            <img src="../../../assets/images/five_products.JPG" width="250"  alt=" " class="img-responsive">
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ======================== -->
  <div class="container">
      <div class="row bg-success card my-4 mb-3 pd-l-2">

      </div>

      <div class="row">


          <ul id="accordion" class="col-sm-6 col-md-12">
              <!-- Question one -->
              <li>
                  <div id="choose" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                      OUR GOALS/PURPOSE
                      <span class="fa fa-chevron-up fa-1x text-info pull-right"></span>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          Our major goal is to build a formidable brand that will create employment
                           in the economy and cater for the deficiency in the daily requirements
                            of bioactive living enzymes,
                           vitamins, minerals and antioxidant that
                           aids optimal performance of the body immune system.
                           <br>
                           The brand will also constantly boost the patronage of the hospitality
                            industry in Nigeria that is presently experiencing
                           decline due to apathy in the consumption of preservatives,
                           additives and condiments based foods and drinks.
                      </div>
                    </div>
              </li>

              <!-- Question two -->
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      OUR VISION
                      <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                  </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                          To build a reputation on offering the most delicious, nutritious,
                          100% natural, cold pressed juices in Africa and
                           to continue expanding our market and product lines
                           through our current and future partner relationships.
                      </div>
                    </div>
              </li>

              <!-- Question three -->
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      OUR MISSION
                      <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                  </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                          Our mission is in three dimensions and as follows;
                          <h6>Quality</h6>
                          <p>Our fruit and vegetable juices are highest quality,
                             most nutritious food products because we will accept or give nothing less.
                            </p>
                            <hr>
                          <h6>Innovative</h6>
                          <p>Our products since inception have been in the forefront of
                            the health and nutrition wave. Innovative products, state of the art manufacturing,
                            quality assurance and industry expertise are the bases for our present and future successes.
                            </p>
                          <h6>Integrity</h6>
                          <p>Our customers depend on the quality of our juices.
                            Our commitment to the highest standard is the foundation
                             of our customers trust in our products. We stand behind our products, our services and our word.
                            </p>
                      </div>
                    </div>
              </li>

              <!-- Question Four -->
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      OUR VALUES
                      <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                  </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                          Our core values are healthy living and sustainability.
                      </div>
                    </div>
              </li>

              <!-- Questiion Five -->
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      OUR STRENGTHS
                      <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                  </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">
                          Our juices stand out as they contain 100% natural fruit or vegetable juices, extracted without destroying the living enzymes.
                          In the process of production we strictly ensure no pasteurization, additives, preservatives, condiments or adulteration.
                          Our juice are sealed and ready-made immune system boosters with high amount of bioactive living enzymes, vitamins and minerals needed to fortify the body immune system.
                          We are currently the second 100% natural juice production company to duly register with NAFDAC in Nigeria.

                      </div>
                    </div>
              </li>

              <!-- Question Six-->
              <li>
                  <div class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      OUR COMPETITIVE ADVANTAGES.
                      <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                  </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                          Unlike pasteurized drinks containing preservatives,
                           additives that have harmful effects, our products is 100% natural.
                           <hr>
                           Our natural juice meets growing demand to go back to nature for healthy living.
                           <hr>
                           The supply is less than 25% worldwide leaving a large market to cover.
                           <hr>
                           Our natural juices have a shelf life of 5 -6 days
                           under refrigeration, the best for now in the country.
                           <hr>
                           We are duly registered with NAFDAC.
                           <hr>
                           We constantly catch the interest of a regular customer base with our products everywhere we go.
                      </div>
                    </div>
              </li>
          </ul>
      </div>
    </div>

<script>
$(function(){
    //$(".chevron-down").
    $("div[data-toggle=collapse]").click(function(){
        $(this).children('span').toggleClass("fa-chevron-down fa-chevron-up");
    });
})
</script>



