<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark  green darken-3">
  <a class="nav-link p-0" routerLink="/">
    <img src="../../../assets/logo.jpg" class="rounded-circle z-depth-0"
      alt="avatar image" height="35">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" >Home

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/outlets']" routerLinkActive="active" >Outlets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active" >Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="active" >FAQ</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">

      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
