<app-header></app-header>

<!-- Section: Features v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Fresh Has A New Face</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        It’s content is 100% RAW, FRESH, NATURAL fruits and vegetable juices,
         extracted with state of the art COLDPRESSED juicing machines that extracts
          the purest and finest quality of natural juices without destroying the phyto-nutrients/living enzymes,
         giving the juice the best result. The excellence and elixir of these juices subsists in its freshness.
    </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <img class="img-fluid" src="../../../assets/images/home_tigernut.jpg" alt="Sample image">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Natural</h5>
            <p class="">It’s content is 100% RAW, FRESH, NATURAL fruits
               and vegetable juices, extracted with state of the art COLDPRESSED juicing machines </p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3"> Cold Pressed</h5>
            <p class="">  all natural juices
               made from the finest fruits and vegetables using cold pressed technology
               Our juice alchemist works hard to offer the best cold pressed recipes
               along with a balanced and full nutritional spectrum to keep you
                healthy one cold pressed bottle at a time</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!--Grid row-->
        <div class="row">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Benefits</h5>
            <p class=" mb-0">With an array of flavors to offer high quality and healthy drinking options.
               </p>
          </div>
          <!-- Grid column -->

        </div>
        <!--Grid row-->

      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.3 -->


  <!-- Section: Features v.1 -->
<section class="text-center my-5">


    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Organically Flavorful</h2>
    <!-- Section description -->
    <p class="lead  w-responsive mx-auto mb-5">We use good quality produce that are sourced from local farms in Nigeria. Within the short period of our existence we have built a brand as the only manufacturer of 100% natural fruit
      juices without any artificial or chemical base in the Niger Delta Region.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fa fa-leaf fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Flavorful Selection</h5>
        <p class=" dark-text mb-md-0 mb-5">With 100% juice flavors ranging from
          "Tigernut", "Pineapple", "Orange", "Watermelon" to " Carrot Juices,"
           FarmtoJuice has you covered for whatever taste excites your interest.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">
        <i class="fa fa-heart fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Great Source of Nutrients</h5>
        <p class=" mb-md-0 mb-5">Enjoy your daily dose of vitamins and
          nutrients from Vitamins A to C, calcium and many more in every bottle.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4">

        <i class="fa fa-thumbs-up fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Convenient & Tasty</h5>
        <p class=" mb-0">Convenient and tasty method of ensuring that
           the daily nutrients your body needs are received.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Features v.1 -->

<!-- ----------------------------------------------- -->
  <div class="help py-5 text-white  green darken-3">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-12">
          <i class="fa fa-handshake fa-3x"></i>
          <h3>Why Buy Our Products?</h3>
          <p>Unlike pasteurized drinks containing preservatives,
             additives that have harmful effects, our products is 100% natural.</p>
          <a [routerLink]="['/faq']" class="btn btn-danger text-white">
            <i class="fa fa-question" aria-hidden="true"></i> More </a>
      </div>
    </div>
  </div>
  </div>
  <div class="location py-5">
      <div class="container">
      <div class="row pb-4 text-center">
          <div class="col-md-12">
              <h2> Our Outlet are Scattered all over Nigeria. </h2>
              <p> Find our products</p>
          </div>
      </div>

    <div class="row text-center  green darken-3 ">
      <div class="col-md-2 box border py-4 ">

        <button type="button" class="btn btn-light "><i class="fa fa-map-marker fa-1x "></i>Market Square </button>

      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Shoprite Warri</button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Shoprite Asaba </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> EJ Fast Foods  </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Shoprite Warri </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Shoprite Owerri</button>
      </div>


    </div>
    <div class="row text-center  green darken-3 ">
      <div class="col-md-2 box border py-4   ">

        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Everyday S-market </button>

      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Roban store </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Opolo, Yenagoa </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i>Trans Amadi </button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Azikoro Road</button>
      </div>
      <div class="col-md-2 box border py-4">
        <button type="button" class="btn btn-light"><i class="fa fa-map-marker fa-1x "></i> Kpansia, Yenagoa</button>
      </div>


    </div>
    <div class="row text-center pt-4">
        <div class="col-md-12">
            <a  class="btn btn-danger text-white" [routerLink]="['/outlets']"
            > <i class="fa fa-home" aria-hidden="true"></i> View All Outlets</a>
        </div>
    </div>
  </div>
  </div>


  <div class="cta-sektion  border py-3">
      <div class="container">
          <div class="row">
              <div class="col-md-9 col-sm-9 col-xs-12">
                  <h3><span class="glyphicon glyphicon-cog "></span> <b>For order, sales and more</b> Contact us now!</h3>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 ">
                  <a [routerLink]="['/contacts']" class="btn bg-danger twhite"><i class="fa fa-fighter-jet" aria-hidden="true"></i> Start Right Now</a>
              </div>
          </div>
      </div>
  </div>

