<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
    <div class="row">
       <div class="card border-danger golge">
              <div class="card-header"><a href="anasayfa.html" class="isteColor">
                  <h5 class="text-center m-2" style="font-weight: bold">TESTIMONIES</h5>
                </a></div>
              <div class="card-body">
                <div class="carousel vert slide" data-ride="carousel" data-interval="2000">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <ul class="timeline">
                        <li>
                          <!--"_blank" tıklanan linkin yeni sekmede açılmasını sağlar.-->
                          <a target="_blank" href="#"> Jame paul</a>
                          <p class="article">>>>  my tetimonies </p>
                        </li>
                        <hr>
                        <li>
                          <a href="#"> mathew alfred</a>
                          <p>  message.</p>
                        </li>
                         <hr>
                        <li>
                          <a href="#">News Headline</a>
                          <a href="#" class="float-right">4 Temmuz, 2018</a>
                          <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                            burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                            gözükecek..</p>
                        </li>
                      </ul>
                    </div>
                    <div class="carousel-item">
                      <ul class="timeline">
                        <li>
                          <a href="#">News Headline</a>
                          <a href="#" class="float-right">09 Ocak, 2019</a>
                          <p class="article">>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                            gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..</p>
                        </li>
                        <hr>
                        <li>
                          <a href="#">News Headline</a>
                          <a href="#" class="float-right">4 Temmuz, 2018</a>
                          <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                            burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                            gözükecek..</p>
                        </li>
                         <hr>
                        <li>
                          <a href="#">News Headline</a>
                          <a href="#" class="float-right">4 Temmuz, 2018</a>
                          <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                            burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                            gözükecek..</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>
