


<div class=" text-white jumbotron text-center">
    <h1 class="display-4">Frequently Ask Questions</h1>
    <p class="lead">Our Frequently Asked Questions here.</p>
    <hr class="my-4">
    <!-- <a class="btn btn-danger btn-lg" [routerLink]="['/']"  role="button">Home</a> -->
  </div>

<!-- Questions -->
<div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  How do i store my juice?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p> Juices must be kept refrigerated or packed consistently on ice to maintain
                   the temperature necessary for freshness. If juices are not kept cold they will begin
                   to ferment and readily lose nutritional value as well as taste. If a juice
                  is left out and the bottle bloats, please open with caution or do not open at all as injury can occur.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Is there sugar in your juice?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>There are no added sugars in any of our juices…only natural sugars from the fresh fruits. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How long will my juice last?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>Our juices are shipped at least 2- weeks prior to expiration.
                   They should be kept refrigerated or packed on ice until enjoyed before expiration. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Are juice safe during pregnancy and nursing?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <p>Yes, juices are not only safe during pregnancy and nursing..
                  they are an exceptional aid in growing a healthy child. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Are your products safe for my child?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Definitely! Healthy juices add essential nutrition to a growing child’s
                   body and brain.It is perfectly safe for children of all ages to drink fresh juice.
                    Sometimes parents choose to dilute juices for children with clean water
                   which is also perfectly fine. Cleansing, however, is not recommended for growing children. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Are your container BPA free?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Yes, all of our juices are in BPA free bottles. </p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  What is cold pressed?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>Cold pressed juices are made using a hydraulic cold press which uses pressure to
                  crush the cells and release the
                  goodness without heating and lessening the potency of enzymes as is done by many common juices.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Where can i purchase your products?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <p>We would love to discuss further your interest in carrying our juices.
                   Please <a routerLink="/contact"> contact us.</a> </p>
              </div>
            </div>
          </div>

        </div>
      </div><!--- END COL -->
    </div><!--- END ROW -->
  </div>

  <script>
  (function($) {
	'use strict';

	jQuery(document).on('ready', function(){

			$('a.page-scroll').on('click', function(e){
				var anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: $(anchor.attr('href')).offset().top - 50
				}, 1500);
				e.preventDefault();
			});

	});


})(jQuery);

  </script>
