<!-- Section: Products v.2 -->
<div class=" text-white jumbotron text-center">
    <h1 class="display-4">Farm to juice outlets</h1>
    <p class="lead">You can find our product and outlet in the following super market, still fresh and natural..</p>
    <hr class="my-4">
    <!-- <a class="btn btn-danger btn-lg" [routerLink]="['/']"  role="button">Home</a> -->
  </div>



<section class="text-center my-5">

    <!-- ============ -->
    <!-- <div class="container   -gradient text-white">
        <div class="page-header">
        </div>
        <div class="row grid-divider">
        <div class="col-sm-4">
          <div class="col-padding">
            <h3 class="bold">Assurance</h3>
            <p>quality assurance and industry expertise are the bases for our present and future successes.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3> Quality</h3>
            <p> Most nutritious food products because we will accept or give nothing less.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3>Integrity</h3>
            <p>Our customers depend on the quality of our juices. </p>
          </div>
        </div>
        </div>

    </div> -->
    <!-- ============== -->

    <hr> <hr>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      <!-- Card -->
      <div class="card card-cascade wider card-ecommerce green lighten-3">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <!-- <img src="../../../assets/outlets/everyday-logo.jpg" class="card-img-top"
            alt="sample photo"> -->

        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="text-muted">

          </a>
          <h4 class="card-title">
            <strong>
              <a href="">Everyday Super Market</a>
            </strong>
          </h4>
          <!-- Description -->
          <p class="card-text"> Everyday Supermarket Emporium 2 opposite Skippers GRA, Port-Harcourt</p>
          <!-- Card footer -->
          <div class="card-footer px-1">

          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
      <!-- Card -->
      <div class="card card-cascade wider card-ecommerce  green lighten-3">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <!-- <img src="../../../assets/outlets/everyday-logo.jpg" class="card-img-top"
            alt="sample photo"> -->
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="text-muted">

          </a>
          <h4 class="card-title">
            <strong>
              <a href="">Everyday Super Market</a>
            </strong>
          </h4>
          <!-- Description -->
          <p class="card-text">Everyday Supermarket Emperiom 3
              located at plot 283 Aba road/Port Harcourt Expressway.</p>
          <!-- Card footer -->
          <div class="card-footer px-1">

          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
      <!-- Card -->
      <div class="card card-cascade wider card-ecommerce  green lighten-3">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <!-- <img src="../../../assets/outlets/market-squre-logo.png" class="card-img-top"
            alt="sample photo"> -->
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Category & Title -->
          <a href="" class="text-muted">

          </a>
          <h4 class="card-title">
            <strong>
              <a href="">Market Square</a>
            </strong>
          </h4>
          <!-- Description -->
          <p class="card-text">Market Square Peter Odili Road,Trans Amadi Port-Harcourt.</p>
          <!-- Card footer -->
          <div class="card-footer px-1">


          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<hr>
<!-- Section: Products v.2 -->

<section class="text-center my-5">

    <!-- Section heading -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- Card -->
        <div class="card card-cascade wider card-ecommerce green lighten-3">
          <!-- Card image -->
          <div class="view view-cascade overlay">

            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Category & Title -->
            <a href="" class="text-muted">

            </a>
            <h4 class="card-title">
              <strong>
                <a href="">Market Square Port-harcourt</a>
              </strong>
            </h4>
            <!-- Description -->
            <p class="card-text">Market Square Ada George Road, Port-Harcourt.</p>
            <!-- Card footer -->
            <div class="card-footer px-1">

            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
        <!-- Card -->
        <div class="card card-cascade wider card-ecommerce green lighten-3">
          <!-- Card image -->
          <div class="view view-cascade overlay">

            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Category & Title -->
            <a href="" class="text-muted">

            </a>
            <h4 class="card-title">
              <strong>
                <a href="">Spar Port-Harcourt</a>
              </strong>
            </h4>
            <!-- Description -->
            <p class="card-text">SPA Garrison Junction 97 Aba Road Port-Harcourt</p>
            <!-- Card footer -->
            <div class="card-footer px-1">
              <span class="float-left font-weight-bold">
                <!-- <strong>1160$</strong> -->
              </span>
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <i class="fas fa-eye grey-text ml-3"></i>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="fas fa-heart grey-text ml-3"></i>
                </a>
              </span>
            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">
        <!-- Card -->
        <div class="card card-cascade wider card-ecommerce green lighten-3">
          <!-- Card image -->
          <div class="view view-cascade overlay">

            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Category & Title -->
            <a href="" class="text-muted">

            </a>
            <h4 class="card-title">
              <strong>
                <a href="">Market Square GRA</a>
              </strong>
            </h4>
            <!-- Description -->
            <p class="card-text">market Square GRA, plot 34, woji road, GRA phase 3 port Harcourt.</p>
            <!-- Card footer -->
            <div class="card-footer px-1">

            </div>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <hr >

  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Market Square</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text"> Market Square Okporo Road, Rumuodara junction,Port Harcourt.</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Everyday Supermarket</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Everyday Supermarket Emporium 4 Ikenegbu Road, Owerri</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Everyday Supermarket</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Everyday Supermarket Emporium 5World Bank Area Owerri </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/spar_logo.jpg" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">SPAR PH Mall</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text"> SPA The PH Mall next to Government House Azikiwe Road Port-Harcourt.</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Next Cash and Carry</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Next cash and carry behind Pabod Brewery, Oginigba, Trans Amadi, Port Harcourt</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Market Square</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Market Square Rumubikwe opposite shell residential area rivers state. </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>

    <!-- ====== -->
    <div class="container blue-gradient text-white">
        <div class="page-header">
        </div>
        <div class="row grid-divider">
        <div class="col-sm-4">
          <div class="col-padding">
            <h3 class="bold">Values</h3>
            <p>Our core values are healthy living and sustainability</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3> Benefits</h3>
            <p> Our natural juice meets growing demand to go back to nature for healthy living.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-padding">
            <h3>Captivating</h3>
            <p>We constantly catch the interest of a regular customer base with our products everywhere we go.  </p>
          </div>
        </div>
        </div>

    </div>
    <!-- ======= -->
  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/shoprite_logo1.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Shoprite Owerri</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text"> Shoprite Owerri. egbu road, Owerri .</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/market-squre-logo.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Market Square</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Market square Owerri, Amakohia/ Akwakuma Road, Owerri
                </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 ">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/shoprite_logo1.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Shoprite Warri</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Shoprite Warri, 1 effurun Roundabout by refinery Road Uvwie Delta State</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>
  <section class="text-center my-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/shoprite_logo1.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Shoprite Asaba</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text"> Shoprite Asaba, Okpanam Road, Asaba  .</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/ej_eatery.jpg" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">EJ Fast Foods</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">	EJ Fast Foods No 130 Ughelli Patani Road Before Gares Place Hotel Ughelli Delta State
                </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 ">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/market-squre-logo.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Market Square Benin</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Market Square Benin, 121 sapele road, Benin city</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>
  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/spar_logo.jpg" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">SPAR Enugu State</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">SPAR Enugu State, independence layout by Okpara square bus stop, Enugu .</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/shoprite_logo3.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Shoprite Enugu</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">	Shoprite Enugu State,  Abakiliki road, by polo park, Enugu
                </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 ">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/robans_market.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Roban Stores Enugu</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Roban Stores Enugu State independence layout Beside Besala road, Enugu </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>
  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/robans_market.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Roban Store Akwa</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Roban store Awka.
                  Before Aroma Junction Anambra.</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/market-squre-logo.png" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Market Square, Yenagoa</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">	Market Square Opolo,Mbiama Yenagoa Road
                </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 ">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/general_market.jpg" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">General Supermarket Yenagoa</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">General Supermarket Yenizuegene, Mbiama Yenagoa Road</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>
  <section class="text-center my-5">

      <!-- Section heading -->


      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/sunki.jpg" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Sunki Supermarket</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text"> Sunky Supermarket Azikoro Road, Ekeki ,Yenagoa</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <!-- <img src="../../../assets/outlets/joepal_ogo.jfif" class="card-img-top"
                alt="sample photo"> -->
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Joepal Supermarket</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">	Joepal Supermarket opposite Ompadec Junction, Amarata, Yenagoa
                </p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 ">
          <!-- Card -->
          <div class="card card-cascade wider card-ecommerce green lighten-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">

              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Category & Title -->
              <a href="" class="text-muted">

              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Crunchies Fast-food Yenagoa</a>
                </strong>
              </h4>
              <!-- Description -->
              <p class="card-text">Crunchies Fast-food opposite Baybridge junction, Kpansia, Yenagoa.</p>
              <!-- Card footer -->
              <div class="card-footer px-1">

              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <hr>
