
 .jumbotron{
  background-image: url("../../../assets/header_leaf.jpg" );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 40px;


 }
h1{
  font-weight: bold;
}
