<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div id="news-slider" class="owl-carousel">
              <div class="post-slide">
                  <div class="post-img">
                      <img src="" alt="imag1">
                      <div class="category">HTML</div>
                  </div>
                  <div class="post-review">
                      <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                      <p class="post-description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.
                      </p>
                      <div class="post-bar">
                          <span><i class="fa fa-user"></i> <a href="#">Williamson</a></span>
                          <span class="comments"><i class="fa fa-comments"></i> <a href="#">2 Comments</a></span>
                      </div>
                  </div>
              </div>

              <div class="post-slide">
                  <div class="post-img">
                      <img src="" alt="image2">
                      <div class="category">CSS</div>
                  </div>
                  <div class="post-review">
                      <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                      <p class="post-description">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda culpa cumque dicta sint soluta voluptas eius iusto modi reprehenderit sint soluta voluptas.
                      </p>
                      <div class="post-bar">
                          <span><i class="fa fa-user"></i> <a href="#">Kristiana</a></span>
                          <span class="comments"><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- ======================== -->


