
<div class=" text-white jumbotron text-center">
    <h1 class="display-4"> tigernut</h1>
    <p class="lead font-weight-bold"> No sugar or artificial preservatives are added</p>
    <hr class="my-4">
    <a class="btn btn-outline-danger btn-lg" [routerLink]="['/']"  role="button">Home</a>
  </div>


<!-- =================================== -->


 <br> <br> <br>
<!-- =================================== -->

<!-- products -->
<section class="section feature" id="feature">
    <div class="container">

        <div class="row bg-elipse">
            <div class="col-lg-4 align-self-center text-center text-lg-right">
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-circle-compass"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5> Source of vegetable protein</h5>
                        <p>The vegetable protein is aligned with all the benefits described above,
                           as for example, the natural regulation of the cardiovascular
                          system and proper functioning of cellular activity that prevents the risk of cancer..</p>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-tools-2"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5>Rich source of antioxidants</h5>
                        <p> beneficial compounds that protect your body against
                          aging and diseases like cancer and heart disease</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <!-- Feature Item -->
                <div class="feature-item mb-0">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-chat"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h3 class="font-weight-bold">Tigernut Juice </h3>
                    </div>
                </div>
                <div class="app-screen">
                    <img class="img-fluid" src="../../../assets/products/home_tigernut.jpg" alt="app-screen">
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-hourglass"></i>
                    </div>
                    <!-- Content -->

                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-left align-self-center">
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-mobile"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5>  Good amount of potassium</h5>
                        <p>  The lack of potassium in the body causes a different amount of dysfunctions such as arrhythmia, muscle weakness, fatigue, low blood pressure
                           or constipation. Therefore, nourish the body with this mineral becomes an essential activity</p>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-layers"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5>  Source of magnesium</h5>
                        <p>  magnesium is strongly related to kidney care and prevention of menstrual problems (in women)
                          and maintaining the body pH stable to avoid the appearance of dermatitis or fungal infections.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
