
// for header
.jumbotron{
  background-image: url("../../../assets/singles/tigernuts_header.jpg" );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 40px;


 }
h1{
  font-weight: bold;
}

.our-team{
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.our-team .pic{
  background: #f6931e;
  transition: all 0.3s ease 0s;
}
.our-team:hover .pic{
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.5) translateY(-30%);
}
.our-team .pic img{
  width: 100%;
  height: auto;
}
.our-team .team-content{
  width: 100%;
  padding: 7px 15px;
  background: #f6931e;
  position: absolute;
  bottom: -30%;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
  opacity: 1;
  bottom: -10px;
}
.our-team .title{
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.our-team .post{
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.our-team .social{
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.35s ease 0s;
}
.our-team .social li{
  display: inline-block;
  margin: 0 5px 0 0;
}
.our-team .social li a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px 0 15px 0;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.35s ease 0s;
}
.our-team .social li a:before{
  content: "";
  width: 100%;
  height: 100%;
  background: #e06f06;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}
.our-team .social li a:hover:before{ left: 0; }
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}
.display-4{
  font-weight: bold;
  }


  // products styling..
  body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  // h1, h2, h3, h4, h5, h6 {
  //   font-family: "Open Sans", sans-serif;
  //   color: #5e5e5e;
  //   font-weight: 400;
  //   line-height: 1;
  // }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  .feature .feature-item .icon {
    margin-bottom: 25px;
  }

  .feature .feature-item .icon i {
    font-size: 48px;
    color: #7d71d3;
  }

  .feature .feature-item .content h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .feature .feature-item:not(:last-child) {
    margin-bottom: 80px;
  }

  @media (max-width: 768px) {
    .feature .feature-item {
      margin-bottom: 80px;
    }
  }

  .feature .app-screen {
    margin: 40px 0;
  }

  .feature .feature-content h2, .feature .feature-content p {
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {
    .feature .feature-content h2, .feature .feature-content p {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .feature .testimonial {
      text-align: center;
    }
  }

  .feature .testimonial p {
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 10px;
    font-style: italic;
    color: #242424;
  }

  .feature .testimonial ul.meta li {
    font-size: 12px;
    margin-right: 10px;
  }

  .feature .testimonial ul.meta li img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }



  /*# sourceMappingURL=maps/style.css.map */
