
<div class=" text-white jumbotron text-center">
    <h1 class="display-4"> Oranges</h1>
    <p class="lead font-weight-bold"> No sugar or artificial preservatives are added.</p>
    <hr class="my-4">
    <a class="btn btn-outline-danger btn-lg" [routerLink]="['/']"  role="button">Home</a>
  </div>


<!-- =================================== -->


 <br> <br> <br>
<!-- =================================== -->

<!-- products -->
<section class="section feature" id="feature">
    <div class="container">

        <div class="row bg-elipse">
            <div class="col-lg-4 align-self-center text-center text-lg-right">
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-circle-compass"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5> High in Vitamin C</h5>
                        <p>  reduced risk of colon cancer</p>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-tools-2"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5>Healthy immune system</h5>
                        <p>  vital for the proper function of a healthy immune system</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <!-- Feature Item -->
                <div class="feature-item mb-0">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-chat"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h3 class="font-weight-bold">Orange Juice</h3>
                    </div>
                </div>
                <div class="app-screen">
                    <img class="img-fluid" src="../../../assets/singles/home_orange.jpg" alt="app-screen">
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-hourglass"></i>
                    </div>
                    <!-- Content -->

                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-left align-self-center">
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-mobile"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5> Prevents skin damage</h5>
                        <p>  protect skin from free radical damage </p>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="feature-item">
                    <!-- Icon -->
                    <div class="icon">
                        <i class="tf-layers"></i>
                    </div>
                    <!-- Content -->
                    <div class="content">
                        <h5> Keeps blood pressure under check</h5>
                        <p>  help support the production of haemoglobin
                           and also help keep blood pressure under check due to the presence of magnesium.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- products view -->
